* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);

  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
}
p {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

.method-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 10px 20px;
  justify-content: center;
}

.method-buttons button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
  font-size: 16px;
}

.method-buttons button:hover {
  background: #dff0d8;
}

.container {
  flex: 1;
  display: flex;
  gap: 20px;
  height: 100%;
  margin: 20px;
  max-height: 70vh;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

/* Cột trái */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

/* Chiều cao chia theo tỷ lệ */
.instruction {
  flex: 15;
  max-height: 150px;
  background: #fff3cd;
  overflow-y: auto;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
}
h3 {
  flex: 1;
  margin: 0;
  align-content: end;
}
textarea {
  flex: 20; /* 30% */
  font-family: monospace;
  resize: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
}

button#runTest,
button#runTest2,
button#runTest3 {
  flex: 1; /* 20% */
  padding: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

button#runTest:hover,
button#runTest2:hover,
button#runTest3:hover {
  background-color: #45a049;
}

/* Cột phải */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

pre#log {
  flex: 19; /* 90% */
  background: #222;
  color: #c6ffdd;
  overflow-y: auto;
  border-radius: 6px;
  padding: 10px;
  margin: 0;
  font-size: 20px;
}
